.conatiner-product{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
h2{
    text-align: center;
    margin-top: 3rem;
    font-style: italic;
}